# Git
.git
.gitignore

# Environment
.env
.env.local

# Node
node_modules
npm-debug.log

# Build
bin/
dist/
build/

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite

# Uploads
uploads/
